<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <meta charset="utf-8">
    <title>Cleared</title>
  </head>
  <body>
    <h1>Address book cleared!</h1>
    <a href="/">Back Home</a>
  </body>
</html>
