<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Added</title>
  </head>
  <body>
    <h1>You've added a contact!</h1>
    <ul>
      <li>@Model.GetName()
        <ul>
          <li>@Model.GetPhoneNumber()</li>
          <li>@Model.GetDetails()</li>
        </ul>
      </li>
    </ul>

    <a href="/">Return to Address Book</a>
  </body>
</html>
