body {
  background-color: lightblue;
}

.container{
  background-color: papayawhip;
  text-align: center;
  margin-top: 10%;
  padding: 10px;
  border-radius: 5px;
}

#home-ul {
  display: inline-block;
  text-align: center;
  padding-bottom: 50px;
}

a.button {
  appearance: button;
  -webkit-appearance: button;
  padding: 3px;
  color: black;
}

#added-ul, #view-ul {
  text-align: left;
}

#contacts-header {
  padding-bottom: 50px;
}
